extends layout

block scripts
   script(src='/socket.io/socket.io.js')
   script(src='/js/d3.js', type='text/javascript')
   
   script(src='/js/jquery.js', type='text/javascript')
   script(src='/js/graph.js', type='text/javascript')
   script(src='/js/main.js', type='text/javascript')

block content
   .tiles
      .tile-container.third.tile-a
         .info
            ul 
               li
                  span.temp= parseInt(Math.random() * 100 + 100)
                  | °
                  span.title current
               li
                  span.temp= parseInt(Math.random() * 100 + 100)
                  | °
                  span.title average
               li.graph-container
                  .graph
            .attrs
               span.name Meat
               span.goal 180 Max
            i(class="fa fa-cog")
      .tile-container.third.tile-b
         .info
            ul 
               li
                  span.temp= parseInt(Math.random() * 100 + 100)
                  | °
                  span.title current
               li
                  span.temp= parseInt(Math.random() * 100 + 100)
                  | °
                  span.title average
               li.graph-container
                  .graph
            .attrs
               span.name Meat
               span.goal 180 Max
            i(class="fa fa-cog")
      .tile-container.third.tile-c
         .info
            ul 
               li
                  span.temp= parseInt(Math.random() * 100 + 100)
                  | °
                  span.title current
               li
                  span.temp= parseInt(Math.random() * 100 + 100)
                  | °
                  span.title average
               li.graph-container
                  .graph
            .attrs
               span.name Meat
               span.goal 180 Max
            i(class="fa fa-cog")

